*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.item_card { 
  display: flex;
  flex-direction: column;
  background-color: black;
  margin: 5px;
}

img {
  width: 250px;
  height: 250px;
  padding: 40px;
}

span {
  color: white;
}